body {
    background: url(/img/bb.svg) center center fixed;
    background-size: cover;
}
img {
    width: 50px;
}

footer {
    padding: 50px;
    color: #e0e0e0;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.092);;
}

footer #cor{
    color: red;
}
